<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">igap education pvt.ltd </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"routerLink="/user" >Profiles </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/objective">Objectives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skill">Skill </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/individualskill">Individual Skill </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/hobby">Hobby </a>
          </li>
         
  
      </ul>
      
    </div>
  </nav>