<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="fw-normal">Hobby</h2>
        </div>
    </header>
    <main>
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)">
                            <div class="form-group">
                                <input type="hidden" name="id" formControlName="id">
                                <label>Hobby:</label>
                                <input type="text" class="form-control" name="title" formControlName="title">
                            </div>
                            <br />
                            <button type="submit" [disabled]="!formdata.valid" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <div class="col-lg-8">
                        <div class="table-responsive">
                            <table class="table table-bordered table-stripped">
                                <thead>
                                    <tr>
                                        <th style="width:120px;">Action</th>
                                        <th style="width:80px;">No</th>
                                        <th>Hobby</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hobby of hobbies; let i = index;">
                                        <td>
                                            <a class="btn btn-sm btn-primary" (click)="edit(hobby._id)"><i class="fa fa-edit fa-2x"></i></a>
                                           &nbsp; <a class="btn btn-sm btn-danger" (click)="delete (hobby._id)"><i class="fa fa-trash fa-2x"></i></a>
                                        </td>
                                        <td>{{(i+1)}}</td>
                                        <td>{{ hobby.title }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>