<section>
  <div class="container">
  <div class="row">
      <div class="col-lg-6">
          <img src="https://image.shutterstock.com/image-vector/male-user-account-profile-circle-260nw-467503055.jpg"
              alt="" class="text-center">
          <div class="text-center">
              <h2>OMKAR RAVSAHEB AMBI</h2>
              <p>Birth Date:19/06/2000</p>
              <h4> <b> Angular Developer </b></h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam nisi doloremque deleniti ipsam
                  accusamus soluta hic pariatur eligendi exercitationem qui quam voluptas officiis saepe alias
                  magni commodi in aut dicta, tempore dolores excepturi praesentium sint eius vitae! Quas, illo
                  itaque.</p>
          </div>
          <div class="text-center">
              <h3 class="bg-dark text-white" >Education</h3>
              <div class="text-center">
                  <p>74.00% , 2021</p>
                  <p> Rajarshri chatrapati shau college</p>
                 <b> <p>Bachlor Of Computer Science</p> </b>
              </div>

              <div class="text-center">
                  <p>74.00% , 2021</p>
                  <p> Rajarshri chatrapati shau college</p>
                 <b> <p>Bachlor Of Computer Science</p> </b>
              </div>

              <div class="text-center">
                  <p>74.00% , 2021</p>
                  <p> Rajarshri chatrapati shau college</p>
                 <b> <p>Bachlor Of Computer Science</p> </b>
              </div>
          </div>

          <div class="text-center">
              <h3 class="bg-dark text-white" >Social Links</h3>
              <p> <b> Linkedin </b> </p>
              <a href="">linkedin,com/lin/omkar ambi</a>
              <p> <b> Github </b> </p>
              <a href="">GIthub.com/lin/omkar ambi</a>
          </div>

      </div>
      <div class="col-lg-6">
          <div>
              <h2 class="bg-dark text-white">Skill</h2>
              <div class="d-flex">
                  <ul>
                      <li>C/C++</li>
                      
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Bootstrap</li>
                      <li>JAvascript</li>
                      <li>jQuery</li>
                  </ul>
                  <ul>
                      <li>C/C++</li>
                      
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Bootstrap</li>
                      <li>JAvascript</li>
                      <li>jQuery</li>
                  </ul>
                  <ul>
                      <li>C/C++</li>
                      
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Bootstrap</li>
                      <li>JAvascript</li>
                      <li>jQuery</li>
                  </ul>

                  <ul>
                      <li>HTML</li>
                      <li>CSS</li>
                  </ul>
              </div>

          </div>
          <div>
              <h2 class="bg-dark text-white">Experience</h2>
              <div>
                  <h2>iGAP Technologies pvt.ltd, kolahapur</h2>
                  <p>Trainee Web Developer</p>
                  <p>Oct 2021 present</p>
              </div>
          </div>

          <div>
              <h2 class="bg-dark text-white">Hobbies</h2>
              <div>
                  <ul>
                      <li>Playing Games</li>
                      <li>Traveiling</li>
                      <li>Sports</li>
                  </ul>
              </div>
          </div>

          <div>
              <h2 class="bg-dark text-white">Contact</h2>
              <div>
                  <ul>
                      <li>9561804716</li>
                      <li>omkarambi@gmail.com</li>
                      <li>At.Kolhapur</li>
                  </ul>
              </div>
          </div>

          <div>
              <h2 class="bg-dark text-white">Languages</h2>
              <div>
                  <ul>
                      <li>Marathi</li>
                      <li>Hindi</li>
                      <li>English</li>
                  </ul>
              </div>
          </div>

          <div>
              <h2 class="bg-dark text-white">Individual Skill</h2>
              <div>
                  <ul>
                      <li>Quick Learner</li>
                      <li>Good Speaker</li>
                      <li>Self Motiveted</li>
                  </ul>
              </div>
          </div>

      </div>

  </div>
</div>
</section>